- var path = '../'
!!! 5
html(lang="en")
  head
    include includes/layout/head

  body
    include includes/layout/header
          
    include includes/layout/content
      .row-fluid
        .span8
          .hero-unit
            h2 
              | i18next-node
              small  - translation made easy
            p i18next is a full-featured javascript library for translating your webapplication.

        .span4.downloads
          p node.js:
          pre
            code
              | npm install i18next
          .alert.alert-info.feature-description
            h4 clientside usage:
            a(href='#{path}index.html')
              i.icon-external-link
              |  more information (clientscript)

      .row-fluid
        .span4
          .features
            h4.feature-title Benefits
            ol.alert.alert-success
              li 
                i.icon-ok
                |  express middleware 
                a(href='#{path}node/pages/doc_express.html#middleware'): i.icon-external-link
              li 
                i.icon-ok
                |  template function 
                a(href='#{path}node/pages/doc_express.html#template'): i.icon-external-link
              li 
                i.icon-ok
                |  seo friendly routes
                a(href='#{path}node/pages/doc_express.html#seoroutes'): i.icon-external-link
              li 
                i.icon-ok
                |  support for variables 
                a(href='#{path}node/pages/doc_features.html#interpolation'): i.icon-external-link
              li 
                i.icon-ok
                |  support for nesting 
                a(href='#{path}node/pages/doc_features.html#nesting'): i.icon-external-link
              li 
                i.icon-ok
                |  support for context 
                a(href='#{path}node/pages/doc_features.html#context'): i.icon-external-link
              li 
                i.icon-ok
                |  support for multiple plural forms 
                a(href='#{path}node/pages/doc_features.html#plurals'): i.icon-external-link
              li 
                i.icon-ok
                |  NEW: gettext converter 
                a(href='#{path}pages/ext_i18next-conv.html'): i.icon-external-link
              li 
                i.icon-ok
                |  NEW: gettext backend 
                a(href='#{path}node/pages/doc_init.html#gettext'): i.icon-external-link
              li 
                i.icon-ok
                |  NEW: sprintf supported 
                a(href='#{path}node/pages/doc_features.html#sprintf'): i.icon-external-link
              li 
                i.icon-ok
                |  detect language 
                a(href='#{path}node/pages/doc_init.html#detectlng'): i.icon-external-link
              li 
                i.icon-ok
                |  graceful translation lookup 
                a(href='#{path}node/pages/doc_init.html#lookupvalue'): i.icon-external-link
              li 
                i.icon-ok
                |  get string or object tree 
                a(href='#{path}node/pages/doc_features.html#objecttree'): i.icon-external-link
              li 
                i.icon-ok
                |  load resourcefiles from server 
                a(href='#{path}node/pages/doc_init.html#getresources'): i.icon-external-link
              li 
                i.icon-ok
                |  exchangable backends (dbs)
                a(href='#{path}node/pages/doc_init.html#backend'): i.icon-external-link
              li
                i.icon-ok
                |  save missing resources to server 
                a(href='#{path}node/pages/doc_features.html#savemissing'): i.icon-external-link
              li
                i.icon-ok
                |  highly configurable 
                a(href='#{path}node/pages/doc_init.html#loadbehaviour'): i.icon-external-link
              li
                i.icon-ok
                |  post missing resources to server 
                a(href='#{path}pages/doc_features.html#postmissing'): i.icon-external-link
              li 
                i.icon-ok
                |  NEW: custom post processing 
                a(href='#{path}node/pages/doc_features.html#postprocessing'): i.icon-external-link
              li 
                i.icon-ok
                |  NEW: translation ui 
                a(href='#{path}pages/ext_webtranslate.html'): i.icon-external-link
              li
                br
                a(href='https://github.com/jamuhl/i18next/issues', target='_new')
                  i.icon-search
                  |  something missing?
                
        .span8
          h4.feature-title Documentation

          .alert.alert-info.feature-description
            strong
              i.icon-book
              |  Documentation: 
            ul.unstyled
              li: a(href='#{path}node/pages/doc_init.html') Initialisation Options
              li: a(href='#{path}node/pages/doc_features.html') Features
              li: a(href='#{path}node/pages/doc_express.html') Express Integration
              li: a(href='#{path}node/pages/doc_templates.html') Template Usage

          br

          .feature
            h4.feature-title Usage Sample
              :markdown
                installation:

                    npm install i18next

                  Add your resourcefile under /locales/en-US/translation.json:

                    {
                      "app": {
                        "name": "i18next"
                      },
                      "creator": {
                        "firstname": "Jan",
                        "lastname": "Mühlemann"
                      }
                    }

                  init and translate:

                    var i18n = require("i18next");

                    i18n.init(function(t) {
                      i18n.t("my.key")
                    });

          .feature
            h4.feature-title Usage with express
              :markdown

                init i18next:

                    var i18n = require("i18next");

                    i18n.init(function(t) {
                      i18n.t("my.key.toLookUp")
                    });

                  Register Handler:

                    // Configuration block of express app
                    app.configure(function() {
                        app.use(express.bodyParser());
                        app.use(i18n.handle);
                        app.use(app.router);

                        // ...
                    });

                  Register AppHelper so you can use the translate function inside template:

                    i18n.registerAppHelper(app)

                  template code (eg. jade):

                    // sample in jade
                    body
                        span= t("my.key.toLookUp")

    include includes/layout/extra
      
    include includes/layout/footer
    
    include includes/layout/endscripts