- var path = ''
- var version = '1.5.5'
!!! 5
html(lang="en")
  head
    include includes/layout/head

  body
    include includes/layout/header
          
    include includes/layout/content
      .row-fluid
        .span8
          .hero-unit
            h2 
              | i18next
              small  - translation made easy
            p i18next is a full-featured i18n javascript library for translating your webapplication.

        .span4.downloads
          a.btn.btn-large.btn-warning(href='#{path}public/download/versions/i18next-#{version}.min.js', download='i18next-#{version}.min.js') 
            i.icon-download-alt
            |  Production v#{version} (min)
          a.btn(href='#{path}public/download/versions/i18next-#{version}.js', download='i18next-#{version}.js')
            i.icon-download-alt
            |  Development v#{version} (full)
          p node.js:
          pre
            code
              | npm install i18next
          .alert.alert-info.feature-description
              a(href='#{path}node/index.html')
                i.icon-external-link
                |  more information (npm module)

      .row-fluid
        .span4
          .features
            h4.feature-title Benefits
            ol.alert.alert-success
              li 
                i.icon-ok
                |  support for variables 
                a(href='#{path}pages/doc_features.html#interpolation'): i.icon-external-link
              li 
                i.icon-ok
                |  support for nesting 
                a(href='#{path}pages/doc_features.html#nesting'): i.icon-external-link
              li 
                i.icon-ok
                |  support for context 
                a(href='#{path}pages/doc_features.html#context'): i.icon-external-link
              li 
                i.icon-ok
                |  support for multiple plural forms 
                a(href='#{path}pages/doc_features.html#plurals'): i.icon-external-link
              li 
                i.icon-ok
                |  NEW: gettext support 
                a(href='#{path}pages/ext_i18next-conv.html'): i.icon-external-link
              li 
                i.icon-ok
                |  NEW: sprintf supported 
                a(href='#{path}pages/doc_features.html#sprintf'): i.icon-external-link
              li 
                i.icon-ok
                |  detect language 
                a(href='#{path}pages/doc_init.html#detectlng'): i.icon-external-link
              li 
                i.icon-ok
                |  graceful translation lookup 
                a(href='#{path}pages/doc_init.html#lookupvalue'): i.icon-external-link
              li 
                i.icon-ok
                |  jquery function 
                a(href='#{path}pages/doc_jquery.html#jqueryfc'): i.icon-external-link
              li 
                i.icon-ok
                |  get string or object tree 
                a(href='#{path}pages/doc_features.html#objecttree'): i.icon-external-link
              li 
                i.icon-ok
                |  get resourcefiles from server 
                a(href='#{path}pages/doc_init.html#getresources'): i.icon-external-link
              li 
                i.icon-ok
                |  resource caching in browser
                a(href='#{path}pages/doc_init.html#caching'): i.icon-external-link
              li
                i.icon-ok
                |  post missing resources to server 
                a(href='#{path}pages/doc_features.html#postmissing'): i.icon-external-link
              li
                i.icon-ok
                |  highly configurable 
                a(href='#{path}pages/doc_init.html#loadbehaviour'): i.icon-external-link
              li 
                i.icon-ok
                |  NEW: custom post processing 
                a(href='#{path}pages/doc_features.html#postprocessing'): i.icon-external-link
              li 
                i.icon-ok
                |  NEW: translation ui 
                a(href='#{path}pages/ext_webtranslate.html'): i.icon-external-link
              li
                br
                a(href='https://github.com/jamuhl/i18next/issues', target='_new')
                  i.icon-search
                  |  something missing?
                
        .span8
          h4.feature-title Documentation

          .alert.alert-info.feature-description
            strong
              i.icon-book
              |  Documentation: 
            ul.unstyled
              li: a(href='#{path}pages/doc_init.html') Initialization Options
              li: a(href='#{path}pages/doc_features.html') Features
              li: a(href='#{path}pages/doc_jquery.html') JQuery Integration
              li: a(href='#{path}pages/doc_templates.html') Template & Helpers

          h4.feature-title Extensions

          .alert.alert-info.feature-description
            strong
              i.icon-cogs
              |  Extensions: 
            ul.unstyled
              li
                | Translation UI: 
                a(href='#{path}pages/ext_webtranslate.html') i18next-webtranslate
              li
                | NEW gettext: 
                a(href="#{path}pages/ext_i18next-conv.html") i18next-conv

          br

          .feature
            h4.feature-title Usage Sample
              :markdown
                page source:

                    <!DOCTYPE html>
                    <html>
                      <head>
                        <script type="text/javascript" src="[PATH]/jquery.js" /> // optional
                        <script type="text/javascript" src="[PATH]/i18next.js" />
                      </head>
                      <body>
                        <ul class="nav">
                          <li><a href="#" data-i18n="nav.home"></a></li>
                          <li><a href="#" data-i18n="nav.page1"></a></li>
                          <li><a href="#" data-i18n="nav.page2"></a></li>
                        </ul>
                      </body>
                    </html>

                  loaded resource file (JSON):

                    {
                      "app": {
                        "name": "i18next"
                      },
                      "nav": {
                        "home": "Home",
                        "page1": "Page One",
                        "page2": "Page Two"
                      }
                    }

                  javascript code:

                    i18n.init(function(t) {
                      // translate nav
                      $(".nav").i18n();

                      // programatical access
                      var appName = t("app.name");
                    });
    include includes/layout/extra
      
    include includes/layout/footer
    
    include includes/layout/endscripts