header.header
  .header-inner
    .navbar.navbar-fixed-top
      .navbar-inner
        .container

          //.btn-navbar is used as the toggle for collapsed navbar content
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
     
          // Be sure to leave the brand out there if you want it shown
          a.brand(href='#{path}') i18next

          // Everything you want hidden at 940px or less, place within here
          .nav-collapse

            ul.nav
              li: a(href="#{path}index.html") Home
              li: a(href="#{path}pages/doc_features.html") Documentation
              li: a(href="#{path}pages/sample.html") Sample
              li: a(href="#{path}pages/ext_webtranslate.html") i18next-WebTranslate
              li: a(href="#{path}pages/ext_i18next-conv.html") NEW: gettext



            ul.nav.pull-right
              li
                a(href='#{path}pages/releasenotes.html')
                  i.icon-file
                  |  releasenotes
              li
                a(href='#{path}pages/test.html')
                  i.icon-check
                  |  tests
              li
                a(href='https://github.com/jamuhl/i18next')
                  i.icon-github
                  |  fork me